.rombo
  %select
    - on "change", @viewMode
    - each @keys, (key) ->
      %option= key
  .banks
    %button Prev
      - on "click", @prevBank
    %span.bank= @bank
    %button Next
      - on "click", @nextBank
